@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Start Resetter */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* End Resetter */

/* Start Variable */
:root {
  /* FONT */
  --FF: "Poppins", sans-serif;
  --FW-R: 400;
  --FW-B: 600;
  --FW-EB: 800;

  /* Color */
  --DARK: #333;
  --LIGHT: whitesmoke;
  --BD-TEST: solid greenyellow 2px;
  --GOLD: rgb(255, 214, 110);
}
/* End Variable */

body {
  position: relative;
  font-family: var(--FF);
  background-color: var(--DARK);
  overflow-x: hidden;
  color: var(--LIGHT);
  min-height: 100vh;
  /* width: minmax(40rem, 100vw); */
}

nav.container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  /* border: var(--BD-TEST); */
  backdrop-filter: blur(0.5rem);
  width: 100%;
}

nav.container .wrapper {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

/* karena container main nya dia 100%-2.5rem, artinya kek punya padding sekitar 20 masing-masing sisi */
/* ditambah padding image juga 1.5rem */
/* buat purify nya kita kasih margin we lah si logonya biar sejajar sama image*/
.logo {
  margin: 0 20px 0 20px;
  /* border: var(--BD-TEST); */
}

.logo-link {
  svg {
    width: 4rem;
    height: auto;
  }

  .logo-svg {
    fill: var(--GOLD);
    transition: 0.25s all;
  }
}

.logo-link:hover {
  .logo-svg {
    fill: #fff;
    transition: 0.25s all;
  }
}

/* purify position fixed nav & centering main */
/* svg nya si 64px (4rem) */
/* padding top + bottom + svg-.25rem  */
main {
  margin: calc(1.5rem + 1rem + 3.75rem) auto 0 auto;
}

main.container {
  display: flex;
  overflow: hidden;
  width: calc(100% - 2.5rem);
  /* width: 100%; */
  /* border: var(--BD-TEST); */
}

main.container .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrapper:hover .section-el {
  opacity: 0.1;
}

.section-el {
  /* width: 100%; */
  flex: 0 0 33%;
  max-width: 33%;
  transition: opacity 250ms linear;
}

.wrapper .section-el:hover {
  opacity: 1;
}

.wrapper-img {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 1.5rem;
}

.section-img {
  display: block;
  width: 100%;
  /* height: 80%; */
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}

.section-img img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.25s linear;
}

.section-el:hover .section-img img {
  transform: scale(1.2) rotate(-3deg);
}

.hover-text {
  /* border: solid 2px salmon; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* karena bukan cuma 1 text element, biar numpuk */
  height: 100%; /* karena fixed biar bisa full windows, jadi nanti bisa align-items */
  overflow: hidden;
  z-index: 100;
  pointer-events: none;

  display: flex; /* biar bisa ketengah windows */
  align-items: center;
  justify-content: center;

  mix-blend-mode: difference;
}

.hover-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 8vw;
  line-height: 1;
  color: #fff;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 250ms linear, opacity 250ms ease;
}

.section-el:hover + .hover-text h2 {
  opacity: 1;
  transform: scale(1);
}

footer {
  /* border: var(--BD-TEST); */
}

footer.container {
  /* border: var(--BD-TEST); */
  position: relative;
  padding: calc(3rem - 4px);
  display: flex;
  justify-content: center;
}

footer.container .wrapper {
  display: inline;
  text-align: center;
}

.block {
  display: block;
}

.icon-svg {
  display: inline-flex;
  gap: 2rem;
  margin: 1rem 0 1rem 0;
}

.icon-link {
  svg {
    fill: #000;
    transition: 0.25s all;
  }
}

.icon-link:hover,
.icon-link:focus {
  svg {
    fill: var(--LIGHT);
  }
}

@media only screen and (max-width: 1023px) {
  main.container .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .section-el {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .hover-text h2 {
    font-size: 12vw;
  }
}

@media only screen and (max-width: 640px) {
  .logo {
    display: flex;
    justify-content: center;
  }

  .logo-link {
    svg {
      width: 3rem;
      height: auto;
    }
  }

  main {
    margin: calc(1rem + 1rem + 2.95rem) auto 0 auto;
  }

  .section-el {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .hover-text h2 {
    font-size: 12vw;
  }
}
